Repository mikehopskin0512/sema, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, chrome-extension, frontend, requiring-migrations, terraform

[SCR-409] Design System Implementation - 4/6 (Typography/Fonts) (#1015)
  web/src/components/comment/editCommentCollectionForm/index.js
  web/styles/_fonts.scss
  web/styles/_theme.scss
Labels: frontend

SCR-499 fixed issue in the admin invite form (#1037)
  web/src/components/inviteForm/index.js
Labels: frontend

[DVPS-20]: Lock library versions during docker build (#1036)
  .docker/apollo/Dockerfile.dev
  .docker/apollo/Dockerfile.prod
  .docker/web/Dockerfile.dev
  .docker/web/Dockerfile.prod
Labels: none

add staging configuration (#1032)
  themis/.env.staging
  themis/build.sh
Labels: chrome-extension

SCR-515: Add actions/endpoint to fetch user object after auth (#1039)
  apollo/src/auth/authService.js
  apollo/src/auth/index.js
  apollo/src/comments/collections/collectionService.js
  apollo/src/comments/collections/index.js
  apollo/src/comments/engGuides/engGuideService.js
  apollo/src/comments/engGuides/index.js
  apollo/src/comments/suggestedComments/index.js
  apollo/src/comments/suggestedComments/suggestedCommentService.js
  apollo/src/invitations/index.js
  apollo/src/middlewares/checkAccess.js
  apollo/src/teams/index.js
  apollo/src/users/index.js
  apollo/src/users/userService.js
  web/src/components/header/index.js
  web/src/pages/invitations/index.js
  web/src/state/features/auth/actions.js
  web/src/state/features/auth/api.js
  web/src/state/features/auth/operations.js
  web/src/state/utils/sentry.js
Labels: backend, frontend

.github/labeler.yml:

backend:
- apollo/**/*

chrome-extension:
- themis/**/*

frontend:
- web/**/*

requiring-migrations:
- apollo/migrations/*

terraform: 
- terraform/**/*
